{% extends "template.html" %}

{% set active_page = "Home" %}

{% block title %} Home page {% endblock %}

{% block main %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible alert-light mb-5">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
  {% endfor %}

<h4 id="loading_header" style="display: none;" class="center-header mb-2">Please wait, search is in progress.</h4>
<div class="progress" id="loading_bar" style="display: none;">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
</div>

<h1>Welcome!</h1>
<p>You are tired of endlessly scroling and not having a clue what is too much to pay for some item?</p>
<p>Well you are in luck today, with <strong>SAH </strong>(<em>Search analyzer and helper</em>) you will be able to have a good estimate about general prices and see what is the mean value so you do not overpay.</p>

<p style="padding-top: 20px;"><strong>SAH </strong>(<em>Search analyzer and helper</em>) will start searching on one of the two most popular websites for buying
  in the Republic of Serbia (<a href="https://novi.kupujemprodajem.com/"><em>Kupujem prodajem </em></a>and <a href="https://www.polovniautomobili.com/"><em>Polovni automobili</em></a>) 
  based on your input and it will give you information about prices.</p>
<p>You will be able to see the mean price and the graph that will represent all the prices. Besides that, some additional information about prices will be given.</p>
<p class="text-success">It is recommended to type in more specific input to provide a more relevant search results.</p>

<form action="/" method="post" id="search_form" onsubmit="showLoading()">
  {% if search_error %}
  <div class="form-group center-narrow has-danger">
    <label class="form-label mt-4" for="inputDefault">Search bar</label>
    <input type="TEXT" class="form-control is-invalid" placeholder="Input" name="keyword">
    <div class="invalid-feedback">{{ warning }}</div>
  </div>
  {% else %}
  <div class="form-group center-narrow">
    <label class="col-form-label mt-4" for="inputDefault">Search bar</label>
    <input type="text" class="form-control" placeholder="Input" name="keyword">
  </div>
  {% endif %}
  {% if select_error %}
  <div class="form-group center-narrow has-danger">
    <label for="selected_website" class="form-label mt-4">Select the source website</label>
    <select class="form-select is-invalid" name="selected_website">
      <option disabled="disabled" selected="selected">Select one option</option>
      <option>Kupujem prodajem</option>
      <option disabled="disabled">Polovni automobili (currently unavailable)</option>
    </select>
    <div class="invalid-feedback">{{ warning }}</div>
  </div>
  {% else %}
  <div class="form-group center-narrow">
    <label for="selected_website" class="form-label mt-4">Select the source website</label>
    <select class="form-select" name="selected_website">
      <option disabled="disabled" selected="selected">Select one option</option>
      <option>Kupujem prodajem</option>
      <option disabled="disabled">Polovni automobili (currently unavailable)</option>
    </select>
  </div>
  {% endif %}
  <div class="form-group center-narrow">
    <button class="btn btn-primary mt-4" type="submit">Search</button>
  </div>
</form>

<script>
  document.getElementById("loading_header").style.display = "none";
  document.getElementById("loading_bar").style.display = "none";
</script>

{% endblock %}