{% extends "template.html" %}

{% block title %} Home page {% endblock %}

{% block main %}

<h1>Welcome!</h1>
<p>You are tired of endlessly scroling and not having a clue what is too much to pay for some item?</p>
<p>Well you are in luck today, with <strong>SAH </strong>(<em>Search analyzer and helper</em>) you will be able to have a good estimate about general prices and see what is the mean value so you do not overpay.</p>

<p style ="padding-top: 20px;"><strong>SAH </strong>(<em>Search analyzer and helper</em>) will start searching on one of the two most popular websites for buying
  in the Republic of Serbia (<a href="https://novi.kupujemprodajem.com/"><em>Kupujem prodajem </em></a>and <a href="https://www.polovniautomobili.com/"><em>Polovni automobili</em></a>) 
  based on your input and it will give you information about prices.</p>
<p>You will be able to see the mean price and the graph that will represent all the prices. Besides that, some additional information about prices will be given.</p>
<p class="text-success">It is recommended to type in more specific input to provide a more relevant search results.</p>

<form action="/" method="post">
  <div class="form-group center-narrow">
    <label class="col-form-label mt-4" for="inputDefault">Search bar</label>
    <input type="text" class="form-control" placeholder="Input" name="keyword">
  </div>

  <div class="form-group center-narrow">
    <label for="selected_website" class="form-label mt-4">Select the source website</label>
    <select class="form-select" name="selected_website">
      <option disabled="disabled" selected="selected">Select one option</option>
      <option>Kupujem prodajem</option>
      <option disabled="disabled">Polovni automobili (currently unavailable)</option>
    </select>
  </div>

  <div class="form-group center-narrow">
    <button class="btn btn-primary mt-4" type="submit">Search</button>
  </div>

</form>

{% endblock %}