{% extends "template.html" %}

{% set active_page = "Login" %}

{% block title %} Login {% endblock %}

{% block main %}

<h1>Welcome back!</h1>

<form action="/login" method="post">
  <div class="form-group center-narrow">
    <label class="col-form-label mt-4" for="inputDefault">Username</label>
    <input type="text" class="form-control" placeholder="Enter username" id="username">
  </div>

  <div class="form-group center-narrow">
    <label class="col-form-label mt-4" for="inputDefault">Password</label>
    <input type="password" class="form-control" placeholder="Enter password" id="password">
  </div>

  <div class="form-group center-narrow">
    <button class="btn btn-primary mt-4" type="submit">Login</button>
  </div>

</form>

{% endblock %}