{% extends "template.html" %}

{% set active_page = "Search history" %}

{% block title %} Search history {% endblock %}

{% block main %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-dismissible alert-light mb-5">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
  {% endfor %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Search keyword</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Items found</th>
<!--         <th scope="col">Mean value</th>
        <th scope="col">Median value</th>
        <th scope="col">Mode value</th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        {% for search_keyword, timestamp, count in results %}
        <td>{{loop.index}}</td>
        <td>{{ search_keyword }}</td>
        <td>{{ timestamp }}</td>
        <td>{{ count }}</td>
<!--         <td>{{ mean }}</td>
        <td>{{ median }}</td>
        <td>{{ mode }}</td> -->
        {% endfor %}
      </tr>
    </tbody>
</table>


{% endblock %}