<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../static/bootstrap.css">
      <link rel="stylesheet" href="../static/bootstrap-icons.css">
      <link rel="stylesheet" href="../static/prism-okaidia.css">
      <link rel="stylesheet" href="../static/custom.min.css">

      <link rel="stylesheet" href="../static/styles.css">

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

      <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      {% set navigation_bar_LEFT = [('/', 'Home'), ('/search_history', 'Search history'), ('/about', 'About')] %}
      {% set navigation_bar_RIGHT = [('/register', 'Register'), ('/login', 'Login'), ('/logout', 'Logout')] %}
      {% set active_page = active_page|default('Home') %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SAH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarColor01" style="">
            <ul class="navbar-nav me-auto">
              {% for href, caption in navigation_bar_LEFT %}
                <li class = "nav-item">
                  {% if caption == active_page %}
                  <a class="nav-link active" href="{{ href }}">{{ caption }}</a>
                  {% else %} 
                  <a class="nav-link" href="{{ href }}">{{ caption }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
              {% for href, caption in navigation_bar_RIGHT %}
              <li class="nav-item">
                {% if caption == active_page %}
                <a class="nav-link active" href="{{ href }}">{{ caption }}</a>
                {% else %}
                <a class="nav-link" href="{{ href }}">{{ caption }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>        
      <main class="container py-5 text-center">
        {% block main %}{% endblock %}
      </main>
    </body>
</html>